.total {
  font-weight: 700;
  max-width: 970px;


  margin: 0 auto;
  padding: 40px;
}
.introdetail {
  margin-top: 80px;
  width: 100%;
}
.bookdetail {
  width: 100%;
}
.discountprice {
  font-size: 24px;
  color: #000;
}
.title {
  width: 110%;
  display: flex;
}
.cover{
  width: 100%;
}
.title > ul > p {
  line-height: 4;

  border-bottom: 1px solid rgba(137, 207, 186, 0.3);
  
}

.booktitle {
  width: 475px;
  height: 648px;
  box-shadow: 20px 20px 90px rgba(137, 189, 167, 0.3);
}
.saleprice {
 white-space: nowrap;
  font-size: 14px;
  color: hsl(0, 0%, 0%, 0.3);
  font-weight: 500;
  text-decoration: line-through;
}
.titleinfo{
  font-weight: 700;
  
}
.info {
  display: block;
 width: 200%;
  height: 57px;
  margin: 0 50px;
  /* padding-left: 20px; */
}

.list-group-item {
  width: 390px;
  border: none;
}
.titleInfo {
  display: block;
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}
.titleList {
  display: block;
  list-style-type: none;
}
.titleList > ul {
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.deliveryinfo {
  display: block;
  text-align: right;
}

.minigray {
  font-size: 13px;
  color: hsl(0, 0%, 0%, 0.3);
  font-weight: 600;
}

.discount {
  color: #4dac27;
  font-weight: 700;
  font-size: 24px;
}

.event > button {
  font-size: 9px;
  font-weight: 700;
  border: none;
  margin: 0 3px;
  border-radius: 10%;
  background: hsl(126, 36%, 84%, 0.6);
  color: hsl(0, 0%, 0%, 0.6);
}

.bookinfo {
  padding: 20px 20px;
  font-weight: 700;
  border-top: 1px solid rgb(127, 145, 131, 0.4);
  line-height: 2.2;
}
.bookinfotitle {

  font-weight: 700;
  line-height: 1;
}
.point{
  display: flex;
  justify-content: space-between;
  line-height: 5;
  border-bottom: 1px solid rgba(137, 207, 186, 0.3);
  
}
