.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 970px;
  height: 150px;
  border-bottom: 1px solid #eaeaea;
}
.logo {
  display: block;
  width: 174px;
  height: 92px;
}
.subTitle {
  display: block;
  font-weight: 500;
}
