.review {
  max-width: 970px;
  margin-top: 80px;
  padding: 0 !important;
}
.review-menu {
  padding: 0 !important;
  height: 43px;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.review-menu .review-menu-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
}
.review-rate-title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
.review-rate {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.review-rate-green {
  color: #449f42;
}
.review-info {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}
.review-info > span:first-child {
  margin-left: 0;
}
.review-info > span {
  margin-left: 12px;
}
.review-info > span::after {
  content: "";
  position: relative;
  display: inline-block;
  margin-left: 12px;
  width: 1px;
  height: 7px;
  vertical-align: 1px;
  background: #d9d9d9;
}
.review-info > span:last-child:after {
  content: none;
}
.review-content {
  height: 65px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.review-item {
  border-bottom: 1px solid #eaeaea !important;
  padding: 20px 12px !important;
}
.review-item .clover-img {
  width: 14px;
  height: 14px;
}
